<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>NodeJS LEAFLET</title>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        
    </head>
    <body>
        <h1>Hello from EJS</h1>
        <div id="mapid"></div>

        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
